.container {
  width: 280px;
  height: 280px;

  border: 8px solid black;
  border-radius: 50%;

  margin: 50px auto;
  position: relative;

  background-image: linear-gradient(30deg, red, orange 80%);
}

.number {
  position: absolute;
  z-index: 1;
  font-size: 26px;
  color: black;
}

#number12 {
  right: 0;
  left: 0;
  top: 0;
  text-align: center;
}

#number6 {
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
}

#number3 {
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  right: 5px;
}

#number9 {
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 5px;
}

#number1 {
  top: calc(140px - 120px);
  right: calc(140px - 70px);
}

#number11 {
  top: calc(140px - 120px);
  left: calc(140px - 70px);
}

#number2 {
  top: calc(140px - 75px);
  right: calc(140px - 120px);
}

#number10 {
  top: calc(140px - 75px);
  left: calc(140px - 120px);
}

#number4 {
  bottom: calc(140px - 80px);
  right: calc(140px - 120px);
}

#number8 {
  bottom: calc(140px - 75px);
  left: calc(140px - 120px);
}

#number5 {
  bottom: calc(140px - 120px);
  right: calc(140px - 70px);
}

#number7 {
  bottom: calc(140px - 120px);
  left: calc(140px - 70px);
}

#center {
  position: absolute;
  border: 1px solid black;
  width: 14px;
  height: 14px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  margin: auto;
  border-radius: 50%;
  z-index: 999%;
}

#second {
  position: absolute;
  height: 80px;
  width: 2px;
  background-color: red;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 140px;
  transform: rotate(0deg);
  transform-origin: center 100%;
}

#minute {
  position: absolute;
  height: 95px;
  width: 4px;
  background-color: black;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 140px;
  transform: rotate(0deg);
  transform-origin: center 100%;
}

#hour {
  position: absolute;
  height: 60px;
  width: 7px;
  background-color: black;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 140px;
  transform: rotate(0deg);
  transform-origin: center 100%;
}

#brand {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 65px;
}
